/* app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Inria+Serif&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.island-moments {
  font-family: 'Island Moments', cursive;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%; /* Ensure the body takes full height */
  margin: 0;    /* Remove any default margin */
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inria Serif', serif; /* Set the body font to Inria Serif */
}