/* app/globals.css (Global App CSS File) */
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Inria+Serif&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.island-moments {
  font-family: 'Island Moments', cursive;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%; 
  margin: 0;    
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inria Serif', serif;
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-thumb {
  background-color: #333; 
  border-radius: 6px; 
  border: 3px solid #484242; 
}

::-webkit-scrollbar-track {
  background: #222; 
}

::-webkit-scrollbar-button {
  display: none; 
}


.flip-container {
  perspective: 1000px;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out; 
  transform-style: preserve-3d;
}

.flipped .flipper {
  transform: rotateY(120deg); 
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.right-sidebar video {
  pointer-events: none;
}